/bin/*
/bin/Debug
/obj/Debug
/bin/Release
/obj/Release
/FileContentIndex
/docs/site
/docs/.cache
.vs/*
.vs/
/.vs
/.vs/*

./Properties/*
/Properties/*

*launchSettings*
*.nupkg
*.nuspec
*.suo
*.user
*.userosscache
*.sln.docstates
