/bin/*
/Properties/launchSettings.json
/bin/Debug
/obj/Debug
/bin/Release
/obj/Release
/FileContentIndex
/docs/site
/docs/.cache
.vs/*
.vs/
/.vs
/.vs/*

./Properties/launchSettings.json
*launchSettings*
*.nupkg
*.nuspec
*.suo
*.user
*.userosscache
*.sln.docstates
